<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Edycja rodzica</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{|/parent/edit/${id}|}" method="POST" th:object="${parent}">
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Pesel </label>
                            <input class="form-control" type="number" th:field="${parent.pesel}" required/>        
                        </div>    
                    </div>    
                </div>
                
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Imię </label>
                            <input class="form-control" type="text" th:field="${parent.name}" required/>        
                        </div>    
                    </div>    
                </div>

                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Nazwisko </label>
                            <input class="form-control" type="text" th:field="${parent.surname}" required/>        
                        </div>    
                    </div>    
                </div>
                
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">  
                        <div class="form-group">    
                            <label> Numer telefonu </label>
                            <input class=form-control type="tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{3}" th:field="${parent.phoneNumber}" required />            
                        </div> 
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Adres </label>
                            <select class="form-control" name="addresses">
                                <option
                                    th:value="${parent.address} ? ${parent.address.addressID} : ''" 
                                    th:text="${parent.address} ? ${parent.address.street}+' '+${parent.address.houseNumber} : 'Wybierz adres'">          
                                </option>
                                <option value="">
                                    Wybierz adres
                                </option>
                                <option th:each="address : ${addressList}"
                                        th:if="${address.houseNumber != ''}"
                                        th:value="${address.addressID}"
                                        th:text="${address.street}+' '+${address.houseNumber}+'/'+
                                        ${address.houseNumber}+', '+${address.postcode}+' '+${address.city}">
                                </option>
                                <option th:each="address : ${addressList}"
                                        th:if="${address.flatNumber == ''}"
                                        th:value="${address.addressID}"
                                        th:text="${address.street}+' '+${address.houseNumber}
                                        +', '+${address.postcode}+' '+${address.city}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Użytkownik </label>
                            <select class="form-control" name="users">
                                <option
                                    th:value="${parent.user} ? ${parent.user.email} : ''" 
                                    th:text="${parent.user} ? ${parent.user.email} : 'Wybierz użytkownika'">          
                                </option>
                                <option value="">
                                    Wybierz użytkownika
                                </option>

                                <option th:each="user : ${userList}"        
                                        th:value="${user.email}"
                                        th:text="${user.email}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">  
                            <label> Wybierz dzieci </label>
                            <select class="form-control" multiple id="childrens" name="children">
                                <option th:each="child : ${childList}"        
                                        th:value="${child.pesel}"
                                        th:text="${child.pesel}+' - '+${child.name}+' '+${child.surname}">
                                </option>
                            </select>       
                        </div>    
                    </div>    
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
