<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj opłatę</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/fee/add}" method="POST" th:object="${fee}">
                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Data aktualizacji </label>
                            <input class="form-control" type="date" th:field="${fee.updateDate}" required/>        
                        </div>    
                    </div>    
                </div>

                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Czesne </label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">zł</div>  
                                <input class="form-control" type="number" min="0" step="0.01" th:field="${fee.tuition}" required/>        
                            </div>
                        </div>    
                    </div>    
                </div>

                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Posiłki </label>
                            <div class="input-group-prepend">
                                <div class="input-group-text">zł</div>  
                                <input class="form-control" type="number" min="0" step="0.01" th:field="${fee.meals}" required/>        
                            </div>
                        </div>    
                    </div>    
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
