<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">  
    <head>
        <title>Dodaj przedmiot</title>
    </head>
    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/item/add}" method="POST" th:object="${item}">
                 <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Numer inwentarzowy </label>
                            <input class="form-control" type="text" th:field="${item.inventoryNumber}" required/>        
                        </div>    
                    </div>    
                </div>

                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">   
                            <label> Nazwa przedmiotu </label>
                            <input class="form-control" type="text" th:field="${item.itemName}" required/>        
                        </div>    
                    </div>    
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Pomieszczenie </label>
                            <select class="form-control" name="room">
                                <option value="">Wybierz pomieszczenie</option>
                                <option th:each="room : ${roomList}"        
                                        th:value="${room.roomID}"
                                        th:text="${room.roomDescription}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 text-center">  
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
